---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

.custom-image-posts {
  display: flex; /* フレックスボックスで横並びにする */
  justify-content: space-between; /* 2つのリンクの間隔を均等にする */
  flex-wrap: wrap; /* 画面サイズに応じて折り返す */
  margin-top: 20px; /* 上に余白を追加 */
}

.custom-image-post {
  width: calc(50% - 10px); /* 2つの要素を50%幅にし、間隔を10pxあける */
  margin-bottom: 20px; /* 下に余白を追加 */
  text-align: center; /* テキストを中央揃えにする */
}

.custom-image-post img {
  width: 100%; /* 幅をコンテナに合わせる */
  aspect-ratio: 1/1; /* 正方形にする */
  object-fit: cover; /* 画像をコンテナ内に収める */
  border-radius: 8px; /* 角を少し丸める（オプション） */
}


$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";
