---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

.featured-posts-container {
  display: flex;
  flex-wrap: wrap; /* 要素が自動的に折り返される */
  justify-content: space-between; /* 要素間のスペースを均等にする */
}

.featured-post {
  width: calc(50% - 10px); /* 50%の幅を指定し、余白を10px分引く */
  margin-bottom: 20px; /* 各写真間の下余白を追加 */
}

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";
