---
layout: default
title: Home
---

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="featured-posts-container">
  <div class="featured-post photo1" style="background-image: url('sakata_1.jpg');">
    <h2><span>写真1</span></h2>
  </div>
  <div class="featured-post photo2" style="background-image: url('sakata_2.jpg');">
    <h2><span>写真2</span></h2>
  </div>
  <div class="featured-post photo3" style="background-image: url('sakata_3.jpg');">
    <h2><span>写真3</span></h2>
  </div>
  <div class="featured-post photo4" style="background-image: url('yuri1.png');">
    <h2><span>写真4</span></h2>
  </div>
</div>
