---
layout: default
title: Home
---
{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

 <!-- インラインCSS -->
  <style>
    .article-links-box {
      margin: 20px 0;
      padding: 10px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      text-align: left;
    }

    .article-links-box a {
      display: block;
      font-size: 16px;
      color: #0056b3;
      text-decoration: none;
      margin: 10px 0;
    }

    .article-links-box a:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  </style>
</head>
<body>

<!-- 記事リンクを表示するボックス -->
<div class="article-links-box">
   <a href="{{ site.baseurl }}/illust1"><b>【最新】【illustration】碎形少女生態圏シリーズを追加！！！</b></a>
  <a href="{{ site.baseurl }}/illust2"><b>【最新】【illustration】 異邦シリーズを追加！！！</b></a>
  <a href="{{ site.baseurl }}/sono1"><b>【最新】【活動日記】 SNGを作る上での優先事項と方針を追加！！！</b></a>
</div>

<!-- 1行目の写真リンク -->
<div class="featured-posts-container">
  <div class="featured-post-container">
    <a href="{{ site.baseurl }}/active">
      <div class="featured-post" style="background-image: url('{{ site.github.url }}/assets/img/tori_1.jpg');">
        <h2><span>活動日記</span></h2>
      </div>
    </a>
  </div>
  
  <div class="featured-post-container">
    <a href="{{ site.baseurl }}/illustration">
      <div class="featured-post" style="background-image: url('{{ site.github.url }}/assets/img/yuri1.png');">
        <h2><span>illustration</span></h2>
      </div>
    </a>
  </div>
</div>

<!-- 2行目の写真リンク -->
<div class="featured-posts-container">
  <div class="featured-post-container">
    <a href="{{ site.baseurl }}/plasma">
      <div class="featured-post" style="background-image: url('{{ site.github.url }}/assets/img/sakata_2.jpg');">
        <h2><span>plasma</span></h2>
      </div>
    </a>
  </div>
  
  <div class="featured-post-container">
    <a href="{{ site.baseurl }}/photo">
      <div class="featured-post" style="background-image: url('{{ site.github.url }}/assets/img/sakata_1.jpg');">
        <h2><span>写真観</span></h2>
      </div>
    </a>
  </div>
</div>

<!-- 3行目の写真リンク -->
<div class="featured-posts-container">
  <div class="featured-post-container">
    <a href="{{ site.baseurl }}/muscle">
      <div class="featured-post" style="background-image: url('{{ site.github.url }}/assets/img/buta.jpg');">
        <h2><span>筋肉マスター</span></h2>
      </div>
    </a>
  </div>
  
  <div class="featured-post-container">
    <a href="{{ site.baseurl }}/contact">
      <div class="featured-post" style="background-image: url('{{ site.github.url }}/assets/img/sakata_3.jpg');">
        <h2><span>備忘録</span></h2>
      </div>
    </a>
  </div>
</div>


